body {
    background-image: url('/HTML study folder/images/g_unit.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}