a:link{
    color: blue;
}
a::hover{
    color: aqua;
    font-size: 1.1em;
}
a:active{
    color: aquamarine;
    font-size: 1.1em;
}
a:visited{
    color: cadetblue;
}
li:hover{
    background-color: yellow;
}
li:not(hover){
    background-color: grey;
}
li:nth-child(even){
    background-color: red;
}
#greeting p{
    background-color: orange;
    padding: 10px;
    display: none;
}
#greeting:hover p{
    display: block;
}